* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: var(--Wenge-Brown);
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --head-font: "Young Serif", serif;
}

body {
  background-color: var(--Eggshell);
}

main {
  width: 100%;
  padding: 0 1rem;
}

.box {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--White);
  padding: 3rem;
  border-radius: 1.25rem;
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.box img {
  max-width: 100%;
  border-radius: 0.625rem;
}
.title {
  margin-top: 2rem;
}
.content-item-list-title,
.head {
  font-family: var(--head-font);
}

.head {
  font-size: 2.5rem;
  color: var(--Dark-Charcoal);
  font-weight: 400;
}

.title p {
  margin-top: 1rem;
}

.preparation {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}
.preparation h3 {
  color: var(--Dark-Raspberry);
}
.preparation ul {
  padding-left: 1.2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.preparation ul li {
  padding-left: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-item {
  padding: 2rem 0;
}

.content-item:not(:last-child) {
  border-bottom: 1px solid var(--Light-Grey);
}
.content-item-list-title {
  font-size: 1.5rem;
  color: var(--Nutmeg);
  font-weight: 400;
}

.content-item-list {
  padding-left: 1.2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content-item-list-item {
  padding-left: 1rem;
}
.content-item:last-child {
  padding-bottom: 0;
}

.content-item .title-p {
  margin-top: 1rem;
}

.content-item-table {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
.content-item-table-item {
  flex: 1;
}
.content-item-table-item:first-child p {
  padding: 1rem 2rem;
}
.content-item-table-item:last-child p {
  padding: 1rem 0.5rem;
}
.content-item-table-item p:not(:last-child) {
  border-bottom: 1px solid var(--Light-Grey);
}

@media (max-width: 600px) {
  .box {
    padding: 1.5rem;
  }
  .head {
    font-size: 1.5rem;
  }
  .content-item-list-title {
    font-size: 1.3rem;
  }
  .preparation h3 {
    font-size: 1.1rem;
  }
}
